@use '@/styles/vars' as *;

.Submissions {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 40px;
  height: fit-content;
  .submissionsTitle {
    font-size: $fs-large;
  }
  p.description {
    font-size: $fs-small;
    color: $secondary-text;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
    font-weight: 400;
  }
  .categoryName {
    font-size: $fs-small;
    font-weight: 700;
    margin-bottom: 24px;
    background: $paper-background;
    width: 100%;
    color: #4e775b;
    text-align: center;
    font-size: $fs-regular;
    button {
      position: relative;
      background: none;
      width: 100%;
      padding: 8px;
      color: $green-text;
      text-align: center;
      font-size: $fs-regular;
      padding-right: 40px;
      .icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
      }
      label {
        font-weight: 700;
        margin-right: 8px;
        font-size: $fs-small;
      }
    }
    span {
      text-decoration: underline;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .dragonItem {
      padding: 12px;

      background: $paper-background;
      border-bottom: 1px solid #000000;
      width: 100%;

      .imageContainer {
        position: relative;
        width: 100%;
        aspect-ratio: 3/2;

        .selectedCheck {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(20%, -20%);
          background: $green-text;
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .dragonName {
        font-size: $fs-large;
        text-align: center;
        color: $green-text;
        margin-top: 16px;
      }
      .artist {
        // color: $green-text;
        font-size: $fs-regular;
        margin: 0 auto;
        text-align: center;
        color: $secondary-green-text;
        margin-bottom: 32px;
        label {
          margin-right: 4px;
          font-size: $fs-small;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: $green-text;
        font-size: $fs-small;
        margin-top: 12px;
        margin-bottom: 12px;
        line-height: 1.6;
        label {
          margin-right: 16px;
          text-transform: uppercase;
          color: $secondary-green-text;
        }
      }
      button {
        background: none;
        border: 1px solid $border-color;
        border-radius: 8px;
        padding: 8px 0;
        font-family: inherit;
        width: 100%;
        margin-top: 16px;
        color: $green-text;
        font-size: $fs-regular;
      }
      button.selected {
        background: $green-text;
        color: $primary-text;
      }
    }
  }

  .registerVoterPage {
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 40px;
    }
    input {
      width: 100%;
      padding: 8px 8;
      background: $paper-background;
      font-family: inherit;
      outline-offset: 0;
      margin-bottom: 24px;
      font-size: $fs-medium;
    }
    button {
      background: $green-text;
      color: $primary-text;
      padding: 8px 0;
      width: 100%;
      font-size: $fs-medium;
      &:disabled {
        filter: grayscale(1);
        color: $secondary-text;
      }
    }
  }
  .confirmPage {
    h2 {
      text-align: center;
      margin-top: 16px;
    }
    .votes {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 24px;
      margin-top: 40px;
      .categoryVote {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $paper-background;
        padding: 8px;
        label {
          font-size: $fs-large;
          color: $green-text;
          margin-bottom: 16px;
        }
        .imageContainer {
          position: relative;
          width: 100%;

          img {
            width: 100%;
            max-width: 50%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
.leaderboardPage {
  width: 100%;
  // margin-top: 8px;

  .imageContainer {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 32px;
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  h2 {
    text-align: center;
    width: 100%;
    margin-top: 12px;
    font-size: $fs-medium;
  }
  .leaderboardList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    .singleLeaderboard {
      min-height: 180px;
      background: $paper-background;
      color: $green-text;
      padding: 16px;

      h3 {
        margin-bottom: 16px;
        font-size: $fs-large;
        padding-bottom: 8px;
        border-bottom: 1px solid $border-color;
      }
      ol {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-left: 16px;
      }
      li {
        float: left;
      }
    }
  }
}

.viewAllLink {
  width: 100%;
  background: $green-text;
  color: $primary-text;
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  margin-top: 24px;
  text-decoration: none;
}

.nextCategoryContainer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  width: 90%;
  // background: $paper-background;
  margin: 0 auto;
  max-width: 400px;
  .buttonBar {
    display: flex;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  // border-radius: 8px;
  // padding: 12px 0;
  // border: 1px solid $border-color;
  button {
    background: $green-text;
    color: $primary-text;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 8px 12px;
  }

  @media (min-width: 500px) {
    background: $paper-background;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 12px 0;
    border: 2px solid $green-text;
    button {
      padding: 12px 16px;
    }
  }
}
