@use '@/styles/vars' as *;

.Navbar {
  position: absolute;
  // top: 24px;
  // left: 24px;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  padding: 24px;
  .inner {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 30px;
    width: 100%;
    a {
      color: $primary-text;
      font-size: $fs-small;
    }
    span {
      height: 4px;
      width: 4px;
      background: $primary-text;
      transform: rotate(45deg);
    }
  }
}
