@use '@/styles/vars' as *;

.page {
  width: 100%;
  padding: 60px 12px;
  max-width: 500px;
  margin: 0 auto;

  .background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('/images/home-background.webp');
    background-size: cover; /* makes it fill the screen */
    background-repeat: no-repeat; /* no tiling */
    background-position: center; /* centers the image */
    height: 100vh;
    width: 100vw;
  }
  h1 {
    color: $primary-text;
    width: 100%;
    text-align: center;
    font-size: $fs-large;
  }
}
