$primary-text: #fff;
$secondary-text: #ababab;
$green-text: #4e775b;
$secondary-green-text: #95b59f;
$paper-background: #fff8e7;
$border-color: #bdb39b;

$fs-small: 16px;
$fs-regular: 20px;
$fs-medium: 24px;
$fs-large: 32px;
